body{
    background-color: plum;
}

#container1{
    height: 150px;
    background-color: white;
    position: relative;
    display: flex;
    
}

#container2{
    height: 300px;
    background-color: lightgray;
    display: flex;
    
}

#container3{
    height: 300px;
    background-color:white;
    display: flex;
    flex-direction: row;
    
}

#container4{
    height: 150px;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#container5{
    height: 150px;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#container6{
    height: 150px;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#container7{
    height: 150px;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#bird {
    width: 100%;
    
}

#pig {
    width: 100px;
}

#container1 > #pig {
    position: absolute;
    bottom:auto;
    top:15px;
    right: 0px;
    height: 100px;
    width: 100px;
    z-index: 1;
}

#container2 > #pig {
    position: absolute;
    top: 400px;
    left: 0px;
    height: 100px;
    width: 100px;
}

#container3 > #pig {
    position: absolute;
    top:auto;
    right: 325px;
    height: 100px;
    width: 100px;
}

#pig > img {
    width: 100%;
}

#box1{
    height: 100px;
    width: 100px;
    font-size: 50px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    z-index: 3;
}

#box2{
    height: 100px;
    width: 100px;
    font-size: 50px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

#box3{
    height: 100px;
    width: 100px;
    font-size: 50px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
.box4{
    height: 100px;
    width: 100px;
    font-size: 50px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}