body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero footer,
#featured section,
#featured section article div,
#all-items section,
#all-items section article {
    display: flex;
}

#all-items section {
    flex-direction: column;
}

#featured section article div {
    justify-content: center;
}

#all-items section article {
    justify-content: center;
    align-items: center;
}

#hero footer {
    align-items: center;
    justify-content: space-between;
}

#all-items section article div:last-child {
    flex-basis: 80%;
}

#all-items section article:nth-child(even) div:first-child {
    order: 2;
}

@media (max-width: 768px) {
    #featured section {
        flex-wrap: wrap;
        flex-direction: column;
    }
    #featured section article:nth-child(even) {
        border: none;
    }
}